.c-accordion__item {
  padding: $spacer / 1.5 0;
  border-bottom: 2px solid $medico-social;

  &:first-child {
    border-top: 2px solid $medico-social;
  }

  .wp-block-navigation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .wp-block-navigation-link {
      width: 60%;
      margin-bottom: $spacer;
      padding: 0;

      .wp-block-navigation-link__content {
        width: 100%;
        padding: $spacer * 0.75;
        background-color: $medico-social;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        color: $white;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        text-align: center;
      }

      &:nth-child(2) {
        .wp-block-navigation-link__content {
          background-color: $blue-link-two;
        }
      }

      &:nth-child(3) {
        .wp-block-navigation-link__content {
          background-color: $alefpa-blue;
        }
      }
    }
  }
}

.c-accordion__title {
  display: flex;
  align-items: center;
  margin: 0;

  &::after {
    color: $medico-social;
    font-weight: $font-weight-bold;
  }

  &#at-40050 {
    &::before {
      content: url(../img/picto-assurance-maladie.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-69594 {
    &::before {
      content: url(../img/picto-soin.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-18946 {
    &::before {
      content: url(../img/picto-soutien.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-6131 {
    &::before {
      content: url(../img/picto-addiction.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-35574 {
    &::before {
      content: url(../img/picto-aide-a-domicile.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-19884 {
    &::before {
      content: url(../img/picto-deplacement.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-56770 {
    &::before {
      content: url(../img/picto-emploi.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-73945 {
    &::before {
      content: url(../img/picto-ccas.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-18365 {
    &::before {
      content: url(../img/picto-demarches.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-48322 {
    &::before {
      content: url(../img/picto-quotidien.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-37856 {
    &::before {
      content: url(../img/picto-pedagogie.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-21301 {
    &::before {
      content: url(../img/picto-covid-enfants.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-69132 {
    &::before {
      content: url(../img/picto-journee-enfants.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-78478 {
    &::before {
      content: url(../img/picto-protection-enfance.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-61820 {
    &::before {
      content: url(../img/picto-urgence-sociale.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-41219 {
    &::before {
      content: url(../img/picto-violences-familiales.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-69998 {
    &::before {
      content: url(../img/picto-services-protection.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-55917 {
    &::before {
      content: url(../img/picto-acteurs-medico-social.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-87850 {
    &::before {
      content: url(../img/picto-accompagnement-domicile.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-42854 {
    &::before {
      content: url(../img/picto-repit-repos.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-43300 {
    &::before {
      content: url(../img/picto-poly-handicap.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-43588 {
    &::before {
      content: url(../img/picto-autisme.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-79455 {
    &::before {
      content: url(../img/picto-gestes-barrieres.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-63644 {
    &::before {
      content: url(../img/picto-info.png);
      margin-right: $spacer / 2;
    }
  }

  &#at-27380 {
    &::before {
      content: url(../img/picto-deconfinement.png);
      margin-right: $spacer / 2;
    }
  }
}
