#wrapper-footer {
  padding-top: 0;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: $white;
    font-size: $font-size-sm;
  }

  img {
    width: 120px;
  }
}
