.header-above {
  padding-top: $spacer / 3;
  padding-bottom: $spacer / 3;
  background-color: $alefpa-light-blue;

  .widget_search {
    .btn {
      line-height: 0;
    }
  }

  .alefpa-backlink {
    margin-right: $spacer;
    margin-bottom: 0;
    margin-left: $spacer;

    a {
      padding-right: $spacer * 2;
      background: url("../img/alefpa-picto.svg") 100% 0 no-repeat scroll
        transparent;
      color: $alefpa-blue;
      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
      text-decoration: none;
    }
  }
}

#wrapper-navbar {
  background-color: $white;
}

.navbar {
  flex-direction: column;
}

.brand {
  display: flex;
  justify-content: space-between;
  padding-top: $spacer;
  padding-right: $spacer;
  padding-bottom: 0;
  padding-left: $spacer;
  @include media-breakpoint-up(sm) {
    padding-bottom: $spacer * 2;
  }
  text-align: center;

  > a {
    &:hover {
      text-decoration: none;
    }
  }

  .navbar-brand {
    margin: 0;
    font-size: $font-size-base * 1.5;
    @include media-breakpoint-up(sm) {
      font-size: $font-size-base * 2.875;
    }

    font-weight: $font-weight-semibold;
    line-height: 1;
    color: $alefpa-blue;
    text-transform: uppercase;
  }

  .site-description {
    margin: 0;
    line-height: $headings-line-height;
    font-size: $font-size-sm;
    @include media-breakpoint-up(sm) {
      font-size: $font-size-base * 1.75;
    }

    color: $alefpa-blue;
    max-width: 75%;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      max-width: 90%;
    }
  }

  .group-logos {
    flex: 0 1 120px;
    @include media-breakpoint-up(lg) {
      flex: 1 0 200px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacer;
  }

  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}
